<h1>Ajout d'information</h1>
<br>
<%= simple_form_for @demand do |f| %>
  <%= f.input :designator, label: 'Sur le vol:', error: "Veuillez indiquer le numéro présent sur votre ticket, il est du type 'AB1234'", input_html: { maxlength: 30 }, placeholder: "AB1234" %>
    <p>J'ai subi un(e) </p>
  <%= f.input :status, as: :select, collection: ["Annulation", "Retard", "Declassement", "Refus d'embarquement"], prompt: 'Veillez choisir ce qui correspond le mieux à votre situation', label: false, error: "Ce champ ne peut pas être vide" %>
  <%= f.button :submit,'Montant de mon indemnisation', class: "btn-main", style:"width: 100%; margin-bottom:30px; margin-top:10px; background-color: #68c3ef"%>
  <% end %>