<div class="banner" style="background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)) ,url('https://images.wallpapersden.com/image/download/cloudy-field-paint_a2xsbmuUmZqaraWkpJRobWllrWdma2U.jpg');">
  <div>
    <h1>Pertub'Air</h1>
    <p>Estimer votre indemnisation.</p>
    <br>
    <a href="demands/new" class="btn btn-info">Faire une simulation</a>
  </div>
</div>
