.btn-call-to-action {
  text-decoration: none;
  padding: 10px;
  color: #B96592;
  background-color: #484276;
  opacity: 0.6;
  border-radius: 10px;
  font-size: 17px;
}

.btn-call-to-action:hover {
  opacity: 1;
  box-shadow: -.0625rem -.0625rem 0 #6BFFFF, .0625rem .0625rem 0 #FF819E;
}
