.body {
  background-color: #F4F4F4;
}

.container {
  width: 85vh;
  background-color: #4da9b5; //#58909A
  padding: 50px;
  border-radius: 25px;
  color: #262626;

  h1 {
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
  }

  .inside-container {
  }
}
